@model Category // Creating Class Name 

<form method="post">
	<div class="container border">
		<div class=" pt-4 pd-3">
			<div class="row">
				<h1 class="text-primary">Create Category</h1>
				<hr/>
			</div>
			<div class="row">
				<div class="col-6 col-md-3">
					<label>Category Name</label>
					</div>
				<div class="col-6 col-md-3">
					<input type="text" placeholder="Enter Name" class="form-control" />
					</div>
			</div>
			<div class="row">
				 <div class="col-6 col-md-3 pt-2 pb-2">
					 <label>Display Order</label>
				 </div>
				<div class="col-6 col-md-3 pt-2 pb-2">
					<input type="text" placeholder="Enter Order" class="form-control" />
				 </div>
			</div>
			<div class="row">
				@* padding-top , padding-bottom *@
				<div class="col-6 col-md-3 pb-2 "> 
				<button type="submit" class="btn btn-primary form-control" >Create</button>
				</div>
				<div class="col-6 col-md-3 pb-2">
					<a asp-controller="Category" asp-action="Index" class="btn btn-outline-secondary form-control">Back to List</a>
			    </div>
			</div>
		</div>
	</div>
</form>