@model Category // Creating Class Name
<partial name="_Notification"/>
<form method="post">
	<div class="container border">
		<div class=" pt-4 pd-3">
			<div class="row">
				<h1 class="text-primary">Delete Category</h1>
				<hr />
			</div>
			@* <div asp-validation-summary="All"></div> *@
			<input hidden asp-for="ID" />	<!-- Hidden Field for ID -->
			<div class="row">
				<div class="col-6 col-md-3">
					<label asp-for="Name1"></label>
				</div>
				<div class="col-6 col-md-3">
					<input asp-for="Name1" placeholder="Enter Name" disabled class="form-control" />
				</div>
			</div>
			<div class="row">
				<div class="col-6 col-md-3 pt-2 pb-2">
					<label asp-for="DisplayOrder"></label>
				</div>
				<div class="col-6 col-md-3 pt-2 pb-2">
					<input asp-for="DisplayOrder" placeholder="Enter Order" disabled class="form-control" />
				</div>
			</div>
			<div class="row">
				@* padding-top , padding-bottom *@
				<div class="col-6 col-md-3 pb-2 ">
					<button type="submit" class="btn btn-danger form-control " >Delete</button>
				</div>
				<div class="col-6 col-md-3 pb-2">
					<a asp-controller="Category" asp-action="Index" class="btn btn-outline-secondary form-control">Back to List</a>
				</div>
			</div>
		</div>
	</div>
</form>

