@model List<Category>

<div class="container">
	<div class="row pt-4 ">
		<div class="col-6">
			<h1 class="text-primary">Category List</h1>
		</div>
		<div class="col-6 text-end">
			<a asp-controller="Category" asp-action="Create" class="btn btn-primary">
				<i class="bi bi-plus-circle"></i> Create New Category
			</a>
		</div>
	</div>
	<div class="col-12 pt-4  align-content-center ">
	<table class="table table-striped table-bordered ">
	<thead >
	<tr>
		<th class="text-center">Category Name</th>
		<th class="text-center">Display Order</th>
		<th class="text-center">Editing</th>
	</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.OrderBy(u => u.DisplayOrder)) // Model is a list of Category // Order by DisplayOrder
		{
			<tr>
				<td class="text-center">@item.Name1</td>
				<td class="text-center"> @item.DisplayOrder</td>
				<td>
					<div class="w-75 btn-group" role="group">
					<a asp-controller="Category" asp-action="Edit" class="btn btn-primary mx-2">
									<i class="bi bi-pencil-square"></i> Edit
					</a>
					<a aspp-controller="Category" asp-action="Delete" class="btn btn-danger mx-2">
									<i class="bi bi-trash-fill"></i> Delete
								</a>
					</div>
				</td>
			</tr> 

		}
			
	</tbody>
	
</table>
	</div>
</div>